<div class="row">
    <div class="col-12">
        <form action="">
            
            <div>
                <label for="">Value1</label>
                <input type="text" name="num1" class="form-control">
            </div>
                <select name="operation">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>

                </select>
            <div>
                <label for="">Value2</label>
                <input type="text" name="num2" class="form-control">
            </div>

            <div class="pt-4">
                <button type="submit">calculate</button>
            </div>
            
                output:
                <input type="text" value="{{output}}"/>
            
            
        </form>

    </div>

</div>